### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
PasswordHistory
logback-classic-1.5.7.jar
logback-core-1.5.7.jar
slf4j-api-2.0.9.jar

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/libraries/logback_classic_1_5_7.xml
/.idea/libraries/logback_core_1_5_7.xml
/.idea/libraries/slf4j_api_2_0_9.xml
